.gauge-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5%;
}

.small-gauge {
    border: 1px solid #ccc;
    padding: 40px; /* Tăng giá trị padding để tạo độ dày và canh giữa biểu đồ */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%; /* Điều chỉnh kích thước của biểu đồ */
    height: 15%; /* Điều chỉnh kích thước của biểu đồ */
}

.gauge-name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    font-weight: bold;
    color: #000;
    margin: 0; /* Loại bỏ margin mặc định */
}
.gauge p {
    font-size: 150%; /* Điều chỉnh kích thước chữ dưới gauge lớn hơn */
    font-weight: bold;
    color: #993939; /* Đổi màu chữ nếu cần */
    margin: 0;
}
.form2-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.show-form-button {
    margin-bottom: 10px;
    padding: 6px 10px; /* Điều chỉnh padding để làm cho nút nhỏ hơn */
    font-size: 12px; /* Giảm kích thước chữ */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}