/* UserLogin.css */

.auth-form-container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
  }
  
  
  .form-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  /* FORM.css */
  .styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #f0f0f0; /* Màu xám */
    border-radius: 500px; /* Bo tròn góc */
    overflow: hidden; /* Ẩn phần góc bị bo tròn vượt ra ngoài */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng để làm nét đậm hơn */
  }
  
  .styled-table th, .styled-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .styled-table th {
    background-color: #f2f2f2;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    
  }
  
  .grid-item {
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    width: max-content;
    text-align: center;
    margin: 0 auto;
    background-color: #cdcccc; /* Màu xám */
    border-radius: 10px; /* Bo tròn góc */
    overflow: hidden; /* Ẩn phần góc bị bo tròn vượt ra ngoài */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng để làm nét đậm hơn */
  }
  
  /* Thêm phần CSS sau cho ô nhập liệu trong form */
  .react-jsonschema-form .form-group {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .react-jsonschema-form .form-group .form-control {
    width: 100%;
    box-sizing: border-box;
  }
  