/* SmallFrame.css */

.small-frame {
  border: 1px solid #ccc;
  width: 30px; /* Kích thước của khung nhỏ */
  height: 20px;
  padding: 10px;
  margin: 20px;
}

.iframe-content {
  width: 50%;
  height: 50%;
  border: none;
}
